* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background: rgb(1, 143, 199); */
  background-image: url(/images/ha-nguy-n-_mYM.jpg);
  background-size: cover;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  margin-top: 30px;
  margin-left: 450px;
  min-height: 100vh;
}
.clock {
  height: 300px;
  width: 300px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  border: 20px solid black;
  position: relative;
}
.number {
  font-size: 25px;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
}
.item1 {
  transform: rotate(30deg);
}
.item2 {
  transform: rotate(60deg);
}
.item3 {
  transform: rotate(90deg);
}
.item4 {
  transform: rotate(120deg);
}
.item5 {
  transform: rotate(150deg);
}
.item6 {
  transform: rotate(180deg);
}
.item7 {
  transform: rotate(210deg);
}
.item8 {
  transform: rotate(240deg);
}
.item9 {
  transform: rotate(270deg);
}
.item10 {
  transform: rotate(300deg);
}
.item11 {
  transform: rotate(330deg);
}
.item12 {
  transform: rotate(0deg);
}
.hand {
  position: absolute;
  /* background: black; */
  left: 50%;
  bottom: 50%;
  transform: translate(-50%);
  transform-origin: bottom;
}
/* transform:translate (-50%) rotate(170deg)*/
.second {
  height: 45%;
  width: 3px;
  background: red;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}

.minute {
  height: 40%;
  width: 5px;
  background: black;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
.hour {
  height: 35%;
  width: 7px;
  background: black;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
.circle {
  height: 15px;
  width: 15px;
  background: #418d12;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  border-radius: 50%;
  border: 2px solid #585757;
}

.number span {
  position: absolute;
}
.one {
  transform: rotate(330deg);
}
.two {
  transform: rotate(300deg);
}
.three {
  transform: rotate(270deg);
}
.four {
  transform: rotate(240deg);
}
.five {
  transform: rotate(210deg);
}
.six {
  transform: rotate(180deg);
}
.seven {
  transform: rotate(150deg);
}
.eight {
  transform: rotate(120deg);
}
.nine {
  transform: rotate(90deg);
}
.ten {
  transform: rotate(60deg);
}
.eleven {
  transform: rotate(30deg);
}
